absl-py==0.14.1
annotated-types==0.7.0
anyio==3.3.2
argon2-cffi==21.1.0
ase==3.23.0
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
bleach==4.1.0
blis==0.7.11
brotlipy==0.7.0
cachetools==4.2.4
catalogue==2.0.10
certifi==2021.5.30
cffi @ file:///tmp/build/80754af9/cffi_1625807838443/work
chardet @ file:///tmp/build/80754af9/chardet_1607706746162/work
charset-normalizer==2.0.12
click==8.1.7
cloudpathlib==0.18.1
conda==4.10.3
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1618262148928/work
confection==0.1.5
cryptography @ file:///tmp/build/80754af9/cryptography_1616769286105/work
cycler==0.10.0
cymem==2.0.8
debugpy==1.4.3
decorator==5.1.0
defusedxml==0.7.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
entrypoints==0.3
filelock==3.15.1
fsspec==2024.6.0
future==0.18.2
gensim==3.8.3
google-auth==1.35.0
google-auth-oauthlib==0.4.6
googledrivedownloader==0.4
grpcio==1.41.0
h5py==3.11.0
huggingface-hub==0.23.3
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
importlib-metadata==7.1.0
ipykernel==6.4.1
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isodate==0.6.1
jedi==0.18.0
Jinja2==3.0.1
joblib==1.4.2
json5==0.9.6
jsonschema==4.0.1
jupyter-client==7.0.5
jupyter-core==4.8.1
jupyter-server==1.11.0
jupyterlab==3.1.14
jupyterlab-language-pack-zh-CN==3.1.post1
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
langcodes==3.4.0
language-data==1.2.0
llvmlite==0.41.1
marisa-trie==1.2.0
Markdown==3.3.4
markdown-it-py==3.0.0
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mdurl==0.1.2
mistune==0.8.4
murmurhash==1.0.10
nbclassic==0.3.2
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==3.1
nltk==3.8.1
notebook==6.4.4
numba==0.58.1
numpy==1.24.4
oauthlib==3.1.1
packaging==21.0
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
preshed==3.0.9
prometheus-client==0.11.0
prompt-toolkit==3.0.20
protobuf==3.18.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydantic==2.7.4
pydantic-core==2.18.4
pygments==2.18.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==2.4.7
pyrsistent==0.18.0
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil==2.8.2
python-louvain==0.16
pytz==2021.3
PyYAML==6.0.1
pyzmq==22.3.0
rank-bm25==0.2.2
rdflib==7.0.0
regex==2024.5.15
requests==2.27.1
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
rich==13.7.1
rsa==4.7.2
ruamel-yaml-conda @ file:///tmp/build/80754af9/ruamel_yaml_1616016699510/work
sacremoses==0.1.1
scikit-learn==1.3.2
scipy==1.10.1
Send2Trash==1.8.0
sentencepiece==0.2.0
shellingham==1.5.4
six @ file:///tmp/build/80754af9/six_1623709665295/work
smart-open==7.0.4
sniffio==1.2.0
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
supervisor==4.2.2
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
terminado==0.12.1
testpath==0.5.0
thinc==8.2.4
threadpoolctl==3.5.0
tokenizers==0.8.1rc2
torch @ http://download.pytorch.org/whl/cu101/torch-1.6.0%2Bcu101-cp38-cp38-linux_x86_64.whl
torch-cluster==1.6.3
torch-geometric==1.7.0
torch-scatter==2.0.8
torch-sparse==0.6.9
torch-spline-conv==1.2.2
torchvision @ http://download.pytorch.org/whl/cu101/torchvision-0.7.0%2Bcu101-cp38-cp38-linux_x86_64.whl
tornado==6.1
tqdm @ file:///tmp/build/80754af9/tqdm_1625563689033/work
traitlets==5.1.0
transformers==3.2.0
typer==0.12.3
typing-extensions==4.12.2
tzdata==2024.1
urllib3==1.25.11
wasabi==1.1.3
wcwidth==0.2.5
weasel==0.4.1
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wrapt==1.16.0
zipp==3.19.2
#python -m spacy download en_core_web_sm
